// = IMPORT
// Global Variables
@import "./variables";
// Core Bootstrap
@import "../cdn/scss/bootstrap/core_bootstrap";
// Reset
@import "../cdn/scss/reset";
//Font
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

html, body{
    background: $white;
}

.window{
    @extend .d-flex;
    &-left{
        background: $primary;
        width:330px;
        transition:width .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        min-height: 100vh;
        @extend .p-5;
        color:$white;
        .logo{
            display: block;
            img{
                width:140px;
            }
        }
        .bottom-info{
            position:absolute;
            @extend .p-5;
            bottom:0;
            left:0;
            font-size:14px;
        }
    }
    &-right{
        width:calc(100% - 330px);
    }
}

header{
    @extend .px-5, .py-2;
    background:#fff;
    box-shadow: 0px -5px 15px rgba(#000, .1);
    height:90px;
}

label{
    font-size:16px;
    font-weight: 400;
    margin-bottom:10px;
}


// WINDOW LEFT

.search-wrap{
    @extend .mt-9;
    button{
        color:$primary;
    }
}
.input-line{
    @extend .mt-5;
}

.select-list {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.688rem + 2px);
    padding: .844rem 1.25rem;
    font-size: 14px;
    line-height: 1.5;
    color: rgba($white, .6);
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgba($white, .6);
    border-radius: 25px;
    transition: .4s;
    position:relative;
    transition-delay: .35s;
    .select span{
        position:relative;
        display: block;
        &:after{
            content:"";
            position:absolute;
            right:0;
            top:4px;
            width:10px;
            height:10px;
            border-right:2px solid rgba($white, .6);
            border-bottom:2px solid rgba($white, .6);
            border-top-color:transparent;
            border-left-color:transparent;
            transform:rotate(45deg);
            transition:.4s;
        }
    }
    &.open{
        border-radius: 25px 25px 0px 0px;
        transition-delay: 0s;
        color:$white;
        border-color:$white;
        .select span{
            &:after{
                border-left:2px solid $white;
                border-top:2px solid $white;
                border-right-color:transparent;
                border-bottom-color:transparent;
                top:8px;
            }
        }
    }
    .select-items{
        position: absolute;
        background-color: #fff;
        width: calc(100% + 2px);
        left: -1px;
        top:48px;
        box-shadow: 0px -5px 15px rgba(#000, .1);
        border-radius: 0 0 25px 25px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9;
        font-size:14px;
        li{
            cursor: pointer;
            color:$body-color;
            @extend .px-3, .py-1;
            transition:.4s;
            &:hover{
                background:rgba($primary, .1);
            }
            &.active{
                background:rgba($primary, .5);
                color:$white;
            }
        }
    }
}





